html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #ffeddb;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.show_all {
    display: flex;
    justify-content: center;
    transform: translate(0px, -84px);
    -webkit-transform: translate(0px, -84px);
    -moz-transform: translate(0px, -84px);
    -ms-transform: translate(0px, -84px);
    -o-transform: translate(0px, -84px);
    button {
        width: 135px;
        height: 40px;
        background-color: #3e15e0;
        border: none;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        border-radius: 3px;
        &:hover {
            box-shadow: rgba(12, 0, 125, 0.4) -5px 5px, rgba(12, 0, 125, 0.4) -10px 10px, rgba(12, 0, 125, 0.4) -15px 15px;
            transition: opacity 0.6s ease;
            transform: scale(106%);
            -webkit-transition: opacity 0.6s ease;
            -moz-transition: opacity 0.6s ease;
            -ms-transition: opacity 0.6s ease;
            -o-transition: opacity 0.6s ease;
        }
    }
}
