.header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  // backdrop-filter: blur(30px);
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 30px;
    .center_link {
      display: flex;
      gap: 25px;
      justify-content: center;
      transform: translate(0px, -29px);
      -webkit-transform: translate(0px, -29px);
      -moz-transform: translate(0px, -29px);
      -ms-transform: translate(0px, -29px);
      -o-transform: translate(0px, -29px);
      position: relative;
      z-index: 99;
      a {
        font-weight: 400;
        font-size: 17px;
        line-height: 18px;
        /* identical to box height, or 106% */
        letter-spacing: 0.18px;
        color: #222222;
        position: relative;
        z-index: 9;
        &:hover {
          color: blue;
          border-bottom: 1px solid blue;
          transition: 0.6s ease all;
          -webkit-transition: 0.6s ease all;
          -moz-transition: 0.6s ease all;
          -ms-transition: 0.6s ease all;
          -o-transition: 0.6s ease all;
        }
      }
    }
    .right_contaent {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      transform: translate(0px, -47px);
      -webkit-transform: translate(0px, -47px);
      -moz-transform: translate(0px, -47px);
      -ms-transform: translate(0px, -47px);
      -o-transform: translate(0px, -47px);
      position: relative;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 18px;
        cursor: pointer;
        /* identical to box height, or 106% */
        color: #000000;
        span {
          color: blue;
        }
      }
      .right_btn {
        position: relative;
        top: -10px;
        button {
          width: 150px;
          height: 40px;
          background: none;
          border: 1px solid rgba(8, 8, 41, 0.2);
          border-radius: 12px;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
        }
      }
    }
  }
}

.screen_wrapper {
  .container_main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 147px 35px;
    .flex_screen {
      display: flex;
      gap: 200px;
      .left_contaent {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
          font-weight: 400;
          font-size: 63px;
          line-height: 79px;
          /* or 126% */
          letter-spacing: 2.16px;
          color: #080829;
          .bg_text {
            width: 100%;
            background-color: #3f53d8;
            height: 35px;
            span {
              color: #ffffff;
            }
          }
        }
        p {
          width: 400px;
        }
        .search_wrapper {
          display: flex;
          input {
            width: 92%;
            height: 41px;
            padding: 12px;
            outline: none;
            border: 1px solid #3f53d8;
          }
          button {
            width: 14%;
            outline: none;
            cursor: pointer;
            background-color: #3f53d8;
            border: none;
            color: #ffffff;
            font-weight: 500;
          }
        }
        .btn_main {
          display: flex;
          gap: 40px;
          margin-top: 10px;
          button {
            width: 220px;
            height: 48px;
            background: #3f53d8;
            border-radius: 11px;
            -webkit-border-radius: 11px;
            -moz-border-radius: 11px;
            -ms-border-radius: 11px;
            -o-border-radius: 11px;
            border: none;
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            &:hover {
              box-shadow: rgba(12, 0, 125, 0.4) -5px 5px,
                rgba(12, 0, 125, 0.4) -10px 10px, rgba(12, 0, 125, 0.4) -15px 15px;
              transition: opacity 0.6s ease;
              transform: scale(106%);
              -webkit-transform: scale(106%);
              -moz-transform: scale(106%);
              -ms-transform: scale(106%);
              -o-transform: scale(106%);
              -webkit-transition: opacity 0.6s ease;
              -moz-transition: opacity 0.6s ease;
              -ms-transition: opacity 0.6s ease;
              -o-transition: opacity 0.6s ease;
            }
          }
          .imgBtn {
            position: relative;
            top: -29px;
            width: 160px;
          }
        }
      }
    }
    .right_img {
      transform: translate(0px, -40px);
      -webkit-transform: translate(0px, -40px);
      -moz-transform: translate(0px, -40px);
      -ms-transform: translate(0px, -40px);
      -o-transform: translate(0px, -40px);
    }
  }
}

.container_it {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 35px;
  transform: translate(0px, -54px);
  -webkit-transform: translate(0px, -54px);
  -moz-transform: translate(0px, -54px);
  -ms-transform: translate(0px, -54px);
  -o-transform: translate(0px, -54px);
  .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 47px;
      line-height: 62px;
      color: #222222;
    }
    p {
      text-align: center;
    }
  }
  .img_flex {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 39px;
    .img_wrapper {
      display: flex;
      flex-direction: column;
      p {
        text-align: center;
      }
    }
  }
}

.bg_wrapper {
  background: url("https://wepro.academy/_nuxt/img/dots.819d6e9.svg") repeat 50% /
      auto,
    linear-gradient(270deg, #9532f7, #2021fe);
  background-attachment: fixed;
  width: 100%;
  height: auto;
  .container_bg {
    max-width: 1400px;
    margin: 0 auto;
    padding: 56px 35px;
    .bg_title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        color: #ffffff;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;
        /* or 25px */
        text-align: center;
        color: #ffffff;
      }
    }
    .wrapper_flex {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      margin-bottom: 90px;
      margin-top: 99px;
      .cards_curses {
        width: 360px;
        height: 460px;
        background: #ffffff;
        border-radius: 6px;
        &:hover {
          box-shadow: rgba(255, 255, 255, 0.4) -5px 5px,
            rgba(255, 255, 255, 0.3) -10px 10px, rgba(255, 255, 255, 0.2) -15px 15px,
            rgba(255, 255, 255, 0.1) -20px 20px, rgba(255, 255, 255, 0.05) -25px 25px;
          cursor: pointer;
          transform: scale(103%);
          transition: 0.2s ease-in-out;
          -webkit-transform: scale(103%);
          -moz-transform: scale(103%);
          -ms-transform: scale(103%);
          -o-transform: scale(103%);
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -ms-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
        }
        .img_curs {
          display: flex;
          justify-content: center;
          margin-top: 30px;
          img {
            width: 337px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }

        .statistick_curs_wrap {
          padding: 20px 22px;
        }
        .line {
          display: flex;
          justify-content: center;
          margin-top: 15px;
          hr {
            width: 90%;
            height: 0px;
            opacity: 0.5;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
          }
        }
        .info_curses_block {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          padding-left: 20px;
          h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            color: #333333;
          }
          span {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            color: #086cf9;
            padding-right: 20px;
          }
        }
        .info_curses {
          position: relative;
          top: -11px;
          padding: 21px;
          p {
            width: 112%;
          }
        }
      }
    }
  }
}

.bg_yellow {
  width: 100%;
  height: auto;
  background-color: #10162f;
  .container_black {
    max-width: 1400px;
    margin: 0 auto;
    padding: 47px 147px;
    .wrapper_block {
      display: flex;
      gap: 288px;

      .left_block {
        display: flex;
        flex-direction: column;
        gap: 18px;
        .block_text_bg {
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          width: 38%;
          height: 57px;
          background-color: #3f53d8;
          .shit {
            padding: 5px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
              Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
              sans-serif;
            color: #fff;
            span {
              color: #e3c500;
            }
          }
        }
        h2 {
          color: #fff;
          font-weight: 700;
          font-size: 40px;
        }
        p {
          color: #fff;
        }
        button {
          width: 220px;
          height: 39px;
          background-color: #ffd300;
          color: #000000;
          border: none;
          font-weight: 700;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
}

.container_alert {
  max-width: 1400px;
  margin: 0 auto;
  padding: 97px 147px;
  .alert_wrapper {
    .alert_danger {
      max-width: 90%;
      height: 50px;
      background-color: red;
    }
  }
}

.container_down {
  max-width: 1600px;
  margin: 0 auto;
  padding: 47px 150px;
  .flex_contaent {
    display: flex;
    gap: 120px;
    .contaent_left {
      .img_left {
        img {
          width: 570px;
        }
        .box_cards {
          position: relative;
          top: -490px;
          padding-right: 20px;
          .block_card {
            display: flex;
            gap: 30px;
            justify-content: center;
            .cards_product {
              width: 230px;
              height: 160px;
              border: 1px solid #080829;
              background-color: #fff;
              &:hover {
                box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px,
                  rgba(0, 0, 0, 0.2) -15px 15px;
                cursor: pointer;
                transition: 0.5s all ease;
                -webkit-transition: 0.5s all ease;
                -moz-transition: 0.5s all ease;
                -ms-transition: 0.5s all ease;
                -o-transition: 0.5s all ease;
                transform: scale(105%);
                -webkit-transform: scale(105%);
                -moz-transform: scale(105%);
                -ms-transform: scale(105%);
                -o-transform: scale(105%);
              }
              .head_card {
                display: flex;
                gap: 10px;
                padding: 10px;
                .pro_bg {
                  width: 50px;
                  height: 25px;
                  background-color: #10162f;
                  color: #fff;
                  p {
                    text-align: center;
                    font-weight: 600;
                  }
                }
              }
              .name_learn {
                padding: 10px;
                p {
                  font-weight: 700;
                }
                .p_info {
                  display: flex;
                  gap: 6px;
                  padding-top: 9px;
                  padding-left: 3px;
                  .cericle {
                    width: 9px;
                    height: 9px;
                    background-color: #086cf9;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                  }
                  p {
                    font-size: 12px;
                    position: relative;
                    top: -5px;
                  }
                }
              }
              .bottom_box_wrap {
                display: flex;
                justify-content: flex-end;
                padding-top: 21px;
                .card_box {
                  width: 90px;
                  height: 25px;
                  background-color: #f3cccb;
                  p {
                    padding-top: 2px;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                  }
                }
              }
            }
          }
          .column_two {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            gap: 30px;
            .cards_product_2 {
              width: 230px;
              height: 160px;
              border: 1px solid #080829;
              background-color: #fff;
              &:hover {
                box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px,
                  rgba(0, 0, 0, 0.2) -15px 15px;
                cursor: pointer;
                transition: 0.5s all ease;
                -webkit-transition: 0.5s all ease;
                -moz-transition: 0.5s all ease;
                -ms-transition: 0.5s all ease;
                -o-transition: 0.5s all ease;
                transform: scale(105%);
                -webkit-transform: scale(105%);
                -moz-transform: scale(105%);
                -ms-transform: scale(105%);
                -o-transform: scale(105%);
              }
              .head_card {
                display: flex;
                gap: 10px;
                padding: 10px;
                .pro_bg {
                  width: 50px;
                  height: 25px;
                  background-color: #10162f;
                  color: #fff;
                  p {
                    text-align: center;
                    font-weight: 600;
                  }
                }
              }
              .name_learn {
                padding: 10px;
                p {
                  font-weight: 700;
                }
                .p_info {
                  display: flex;
                  gap: 6px;
                  padding-top: 9px;
                  padding-left: 3px;
                  .cericle {
                    width: 9px;
                    height: 9px;
                    background-color: #086cf9;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                  }
                  p {
                    font-size: 12px;
                    position: relative;
                    top: -5px;
                  }
                }
              }
              .bottom_box_wrap {
                display: flex;
                justify-content: flex-end;
                padding-top: 21px;
                .card_box {
                  width: 90px;
                  height: 25px;
                  background-color: #f3cccb;
                  p {
                    padding-top: 2px;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
    .right_container {
      img {
        width: 550px;
        height: 500px;
        object-fit: contain;
      }
      h1 {
        position: relative;
        top: -13px;
      }
    }
  }
}

.padding_curs {
  padding-top: 70px;
}
