.bg {
   object-fit: contain;
   width: 100%;
   height: 630px;
   background: url("https://static.kent.ac.uk/nexus/ems/1493.jpg") center center/cover no-repeat;
   padding: 17px 0 0 10px;
   background-attachment: fixed;
   .container_learn {
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 120px;
      .box_flex {
         display: flex;
         gap: 180px;
         .block_info_ {
            width: 375px;
            height: 445px;
            background-color: #fff;
            border-radius: 7px;
            overflow: auto;
            .player-wrapper {
               position: relative;
               padding-top: 56.25%;
               .react-player {
                  position: absolute;
                  top: 0;
                  left: 0;
               }
            }

            .contaent_course_stack {
               margin-top: 16px;
               padding: 0px 14px;
               position: relative;
               top: -6px;
               h2 {
                  margin-bottom: 12px;
               }
               .box_stack_b {
                  display: flex;
                  gap: 10px;
                  flex-wrap: wrap;
                  .child_box {
                     width: auto;
                     height: 26px;
                     background-color: #100b59;
                     padding-top: 1px;
                     &:hover {
                        height: 38px;
                        transition: 0.5s ease-out;
                        transform: scale(104%);
                        cursor: pointer;
                     }
                     h3 {
                        color: #fa8142;
                        font-size: 19px;
                        padding: 5px;
                        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                        &:hover {
                           color: #fff;
                           transition: 0.5s ease-out;
                        }
                     }
                  }
               }
               p {
                  margin: 7px;
                  margin-bottom: 5px;
                  font-weight: 700;
               }
               ul {
                  padding-left: 40px;
                  li {
                     color: #100b59;
                  }
               }
            }
         }
         .right_box_text {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 35px;
            h1 {
               color: #fff;
               font-size: 46px;
               background-color: #100b59;
               border-radius: 5px;
               text-align: center;
            }
            .shit {
               width: 550px;
               color: #fff;
               background-color: rgb(145, 41, 166);
               font-size: 18px;
               font-weight: 500;
               padding: 20px;
               border-radius: 5px;
            }
            p {
               color: #fff;
               background-color: rgb(145, 41, 166);
               width: 430px;
               padding: 20px;
               border-radius: 5px;
            }
            button {
               background-color: #ffd300;
               width: 200px;
               height: 50px;
               border: #ffd300;
               border-radius: 5px;
               font-weight: 900;
               font-size: 14px;
               font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
               cursor: pointer;
            }
         }
      }
   }
}

.block_bg_wrapper {
   width: 100%;
   height: 900px;
   background-color: #10162f;
   background-image: url("data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAApSURBVHgB7dahEQAwDMSwv+6/c0s6QQICInFz534p6vYnAMA0PwAA6z1GXx/lwxPmxwAAAABJRU5ErkJggg==");
   .box_wrapper {
      display: flex;
      justify-content: center;
      .box_cont {
         width: 400px;
         height: 90px;
         background-color: #ffffff;
      }
   }
}
